* {
  box-sizing: border-box;
}

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Global styles */
body {
  overflow-x: hidden;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  color: var(--basic-black);
  line-height: 20px;
}

.page-body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 1160px;
  margin: 0px auto;
}

.global-button {
  display: inline-block;
  vertical-align: middle;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
}

.global-button::after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  background-color: var(--special-yellow-dark);
  top: 50%;
  margin-top: -3px;
  left: 0;

  transition: all 0.2s;
  z-index: -1;
}

.global-button:hover::after {
  height: 100%;
  top: 0;
  margin-top: 0;
}

.global-button:focus {
  box-shadow: none;
  color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}

/* Main-header start */
.header__logo-link {
  position: absolute;
  top: 20px;
  margin-left: 60px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.logo:hover {
  fill-opacity: 0.6;
}

.logo:focus {
  fill-opacity: 0.3;
}

/* Main-navigation start */
.main-nav {
  display: grid;
  grid-template-rows: repeat(2, 22px);
  row-gap: 60px;
  background-color: var(--special-yellow);
  width: 1160px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 11px;
  padding-top: 13px;
}

.main-nav__catalog{
  height: 186px;
}

.main-nav__user-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row: 1/2;
  grid-column-gap: 30px;
  list-style: none;
  padding-left: 0;
}

.main-nav__user-item {
  margin-right: 41px;
  line-height: 50px;
}

.main-nav__dropdown-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  row-gap: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: none;
  font-weight: 300;
  font-size: 15px;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}

.main-nav__dropdown-item {
  width: 225px;
}

.dropdown-item__column-1 {
  grid-column: 1/2;
}

.dropdown-item__column-2 {
  grid-column: 2/3;
}

.dropdown-item__column-3 {
  grid-column: 3/4;
  grid-row: 1/-1;
}

.main-nav__dropdown-title:hover + .main-nav__dropdown-list {
  display: grid;
}

.main-nav__user-link:hover {
  opacity: 0.6;
}

.main-nav__user-link:focus {
  opacity: 0.3;
}

.user-search {
  grid-column: 2/5;
  position: relative;
  padding-left: 12px;
}

.user-search__form {
  display: flex;
  text-align: center;
}

.user-search__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 50px;

  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  outline: none;
}

.user-search::before {
  content: url(../images/icon-search.svg);
  position: absolute;
  left: -23px;
  width: 0px;
  height: 13px;
  top: 4px;
}

.user-search:focus {
  outline: none;
  border-bottom: 2px solid var(--basic-black);
  width: 310px;
  opacity: 1;
}

.user-search__btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 50px;
  text-transform: uppercase;

  display: none;
  outline: none;
  width: 310px;

  border-left: 2px solid var(--basic-black);
  border-top: 2px solid var(--basic-black);
  border-right: 2px solid var(--basic-black);
  border-bottom: none;
  padding-right: 17px;
  padding-left: 17px;

  background-color: inherit;
}

.user-search:focus .user-search__btn {
  outline: none;
  border-bottom: 2px solid var(--basic-black);
  width: 310px;
  display: inline-block;
  border-left: 2px solid var(--basic-black);
  border-top: 2px solid var(--basic-black);
  border-right: 2px solid var(--basic-black);
  border-bottom: none;
  padding-right: 17px;
  padding-left: 17px;
}

.user-search__btn:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.user-search__btn:focus {
  color: rgba(255, 255, 255, 0.3);
}

.user-login {
  grid-column: 7/10;
  position: relative;
  padding-left: 49px;
  width: 200px;
}

.user-login::before {
  content: url(../images/icon-user.svg);
  position: absolute;
  left: 12px;
  width: 13px;
  height: 14px;
}

.user-exist {
  grid-column: 10/11;
}

.user-comparison {
  grid-column: 11/12;
  position: relative;
  padding-left: 36px;
  margin: 0;
}

.user-comparison::before {
  content: url(../images/icon-comparison.svg);
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
}

.user-cart {
  grid-column: 12/13;
  position: relative;
  padding-left: 32px;
}

.user-cart::before {
  content: url(../images/icon-cart.svg);
  position: absolute;
  left: 0;
  width: 12px;
  height: 12px;
}

.main-nav__site-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row: 2/3;
  grid-column-gap: 30px;

  padding-left: 0;
  list-style: none;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-nav__site-item {
}

.main-nav__site-link:hover {
  opacity: 0.6;
}

.main-nav__site-link:focus {
  opacity: 0.3;
}

.site-catalog {
  grid-column: 2/6;
  position: relative;
  padding-right: 38px;
}

.site-catalog::before {
  content: url(../images/icon-plus.svg);
  position: absolute;
  right: 0;
  width: 12px;
  height: 12px;
  opacity: 0.3;
}

.site-delivery {
  grid-column: 7/8;
}

.site-assurance {
  grid-column: 8/9;
}

.site-contacts {
  grid-column: 11/12;
}

/* Main-header end */

/* Promo start */
.preview {
  margin-top: -110px;
  margin-bottom: 84px;
}

.preview-wrapper {
  position: relative;
  min-height: 490px;
}

.preview__togglers {
  display: flex;
  position: absolute;
  width: 88px;
  right: 72px;
  bottom: calc(50% - 76px);
  z-index: 5;
}

.preview__content {
  width: 491px;
  padding-top: 4px;
}

.preview__items {
  display: flex;
}

.slide-1 {
  padding-left: 88px;
  padding-right: 41px;
  position: relative;
}

.slide-1::after {
  content: "01";
  position: absolute;

  right: 100px;
  top: -55px;

  width: 100px;
  height: 7px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slide-1 .slide__product-img {
  margin-top: -32px;
  margin-right: 126px;
}

.slide-2 {
  padding-left: 88px;
  padding-right: 89px;
}

.preview__item {
  position: relative;
}

.slide-2::after {
  content: "02";
  position: absolute;

  top: -50px;
  right: 200px;

  width: 100px;
  height: 7px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slide-2 .slide__product-img {
  margin-right: 165px;
}

.slide-2 td {
  width: 190px;
}

.slide-3 {
  padding-left: 30px;
  padding-right: 88px;
  position: relative;
}

.slide-3::after {
  content: "03";
  position: absolute;

  top: -50px;
  right: 200px;

  width: 100px;
  height: 7px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slide-3 .slide__product-img {
  margin-right: 42px;
  padding-top: 60px;
}

.preview__item-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0 0 27px 0;
  padding-top: 57px;
  position: relative;
  z-index: 1;
}

.preview__item-title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
  top: 0;
}

.preview__item-descr {
  margin-bottom: 50px;
}

.preview__item-link {
  margin-bottom: 48px;
  padding: 0 43px;
}

.preview__input {
  display: none;
}

.preview__item {
  display: none;
}

.preview__toggler {
  display: block;
  width: 13px;
  height: 13px;
  background: url(../images/toggler.svg) 0 0 no-repeat;
  margin-right: 17px;
  font-size: 0;
}

.preview__toggler:last-child {
  margin-right: 0px;
}

#product-1:checked ~ .preview__items .preview__item:nth-child(1),
#product-2:checked ~ .preview__items .preview__item:nth-child(2),
#product-3:checked ~ .preview__items .preview__item:nth-child(3) {
  display: flex;
}

#product-1:checked ~ .preview__togglers .preview__toggler:nth-child(1),
#product-2:checked ~ .preview__togglers .preview__toggler:nth-child(2),
#product-3:checked ~ .preview__togglers .preview__toggler:nth-child(3) {
  background: url(../images/toggler-on.svg) 0 0 no-repeat;
  transition: all 0.3s;
}

tbody {
  display: flex;
  flex-wrap: wrap;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
}

.preview__item tr {
  margin-right: 38px;
  padding: 0;
  width: 110px;
}

.specifications {
  margin: 0;
}
.specifications td:first-child {
  display: block;
  font-family: "Gilroy", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  margin-bottom: 14px;
}
/* Promo end */

/* Product-category start */
.product-category {
  margin-bottom: 50px;
}

.product-category__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  padding-left: 0;
  list-style: none;
}

.product-category__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  margin-bottom: 38px;
}

.product-category__link:hover {
  background-color: var(--special-yellow-dark);
  transition-duration: 0.3s;
}

.product-category__link:focus {
  background-color: var(--special-yellow-dark);
  transition-duration: 0.3s;
}

.product-category__link:focus path {
  fill: rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s;
}

.product-category__text {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}
/* Product-category end */

/* Services start */
.services {
  background-color: var(--basic-grey-light);
  box-shadow: inset 0 94px 0 7px var(--basic-white);
  margin-bottom: 85px;
  padding-bottom: 68px;
}

.services__slider {
  display: flex;
}

.services__slider-content {
  margin-left: 116px;
  padding-top: 21px;
  width: 600px;
}

.services__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.services__text {
  line-height: 30px;
  letter-spacing: 0.1em;
}

.services__input {
  display: none;
}

.services__slide {
  display: none;
}

.delivery-slide {
  position: relative;
  padding-right: 40px;
}

.delivery-slide::before {
  content: url(../images/services-delivery.svg);
  position: absolute;
  right: -150px;
}

.assurance-slide {
  position: relative;
  padding-right: 40px;
}

.assurance-slide::before {
  content: url(../images/services-warranty.svg);
  position: absolute;
  right: -150px;
}

.credit-slide {
  position: relative;
  padding-right: 40px;
}

.credit-slide::before {
  content: url(../images/services-credit.svg);
  position: absolute;
  right: -150px;
}

.services__togglers {
  display: flex;
  flex-wrap: wrap;
  border-right: 7px solid var(--basic-black);
  width: 280px;
  padding-top: 80px;
}

.services__toggler {
  width: 160px;
  margin-bottom: 25px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
}

.services__toggler::after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  position: absolute;
  background-color: var(--special-yellow-dark);
  top: 50%;
  margin-top: -3px;
  left: 0;

  transition: all 0.2s;
  z-index: -1;
}

.services__toggler:focus {
  width: 100%;
  color: var(--special-yellow);
  background-color: var(--basic-black);
  box-shadow: 1px 0 0 1px var(--basic-black);
  outline: none;
  text-align: left;
  padding-left: 24px;
  z-index: 3;
  transition: all 0.5s;
}

.services__toggler:focus::after {
  display: none;

}

#delivery:checked ~ .services__slider .services__slide:nth-child(1),
#assurance:checked ~ .services__slider .services__slide:nth-child(2),
#credit:checked ~ .services__slider .services__slide:nth-child(3) {
  display: block;
}

#delivery:checked ~ .services__toggler .services__toggler:nth-child(1),
#assurance:checked ~ .services__toggler .services__toggler:nth-child(2),
#credit:checked ~ .services__toggler .services__toggler:nth-child(3) {
  display: block;
}
/* Services end*/

/* Partners start */
.partners__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
}

.partners__item-img {
  filter: grayscale(99%);
}

.logo-1 {
  display: block;
  background-image: url(../images/logo-grey-1.png);
  background-repeat: no-repeat;
  width: 260px;
  height: 100px;
}

.logo-1:hover {
  background-image: url(../images/logo-1.png);
}

.logo-2 {
  display: block;
  background-image: url(../images/logo-grey-2.png);
  background-repeat: no-repeat;
  width: 260px;
  height: 100px;
}

.logo-2:hover {
  background-image: url(../images/logo-2.png);
}

.logo-3 {
  display: block;
  background-image: url(../images/logo-grey-3.png);
  background-repeat: no-repeat;
  width: 260px;
  height: 100px;
}

.logo-3:hover {
  background-image: url(../images/logo-3.png);
}

.logo-4 {
  display: block;
  background-image: url(../images/logo-grey-4.png);
  background-repeat: no-repeat;
  width: 260px;
  height: 100px;
}

.logo-4:hover {
  background-image: url(../images/logo-4.png);
}
/* Partners end */

/* About + contacts start  */
.page-body__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about {
  padding-right: 63px;
  padding-bottom: 80px;
  position: relative;
}

.about__link {
  position: absolute;
  left: 10px;
  bottom: 30px;
  padding-left: 18px;
  padding-right: 24px;
  margin-top: auto;
}

.contacts {
  padding-bottom: 80px;
  position: relative;
}

.contacts__link {
  position: absolute;
  left: 10px;
  bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 0;
}

.about__title,
.contacts__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 57px;
  position: relative;
}

.about__title::before,
.contacts__title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
  top: 0;
}

.about__text,
.contacts__text {
  line-height: 28px;
  margin-bottom: 40px;
}

.map {
  margin-bottom: 95px;
}

.about__text:last-of-type {
  margin-bottom: 60px;
}

.about__list {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  list-style-image: url(../images/bullet.svg);
  padding-left: 0;
}

.about__item {
  margin-bottom: 21px;
  padding-left: 24px;
}

.about__item:last-child {
  margin-bottom: 84px;
}
/* About end */
/* Footer start */
.main-footer {
  width: 100%;
  padding: 46px 140px 65px;
  background-color: var(--basic-dark);
  color: var(--basic-white);
}

.main-footer__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  min-height: 60px;
}

.main-footer__logo-link {
  align-self: flex-end;
}

.main-footer__logo-link path {
  fill: var(--special-yellow-dark);
}

.main-footer__user-list {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-footer__user-link {
  opacity: 0.7;
}

.main-footer__user-item {
  margin-right: 38px;
}

.main-footer__user-item:nth-of-type(3n) {
  margin-right: 0;
}

.main-footer .user-login::before {
  content: url(../images/icon-user--yellow.svg);
}

.main-footer .user-comparison::before {
  content: url(../images/icon-comparison--yellow.svg);
}

.main-footer .user-cart::before {
  content: url(../images/icon-cart--yellow.svg);
}

.main-footer__user-link:hover {
  opacity: 1;
}

.main-footer__user-link:focus {
  opacity: 0.3;
}

.main-footer__services,
.main-footer__contacts {
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
}

.main-footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 67px;
}

.main-footer__address,
.main-footer__tel {
  opacity: 0.7;
}

.main-footer__services {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  width: 423px;
}

.main-footer__services-item {
  margin-right: 36px;
}

.main-footer__services-link:hover {
  opacity: 0.6;
}

.main-footer__services-link:focus {
  opacity: 0.3;
}

.main-footer__services-item:nth-of-type(3n) {
  margin-right: 0;
}

.main-footer__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__contacts {
  position: relative;
  padding-left: 512px;
}

.main-footer__contacts::before {
  content: "";
  position: absolute;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
}

.main-footer__contacts-item {
  margin-right: 20px;
}

.main-footer__contacts-item:last-of-type {
  margin-right: 0;
}

.main-footer__contacts-link path {
  fill-opacity: 0.3;
}

.main-footer__contacts-link:hover path {
  fill-opacity: 0.6;
}

.main-footer__contacts-link:focus path {
  fill-opacity: 0.1;
}

.logo-html:hover path {
  fill-opacity: 0.6;
}

.logo-html:focus path {
  fill-opacity: 0.3;
}
/* Footer end */
/* -----------------------------------Catalog----------------------------------- */
.catalog-wrapper {
  padding: 0px 73px 0px 60px;
}

.page__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  padding-left: 0;
  margin-bottom: 49px;
  margin-top: 32px;
}

.breadcrumbs__item {
  position: relative;
  margin-left: 14px;
  padding-right: 24px;
}

.breadcrumbs__item::after {
  content: url(../images/icon-arrow.svg);
  position: absolute;
  right: 0;
}

.breadcrumbs__item:last-of-type::after {
  content: none;
}

.breadcrumbs__item:first-of-type {
  margin-left: 0;
}

.breadcrumbs:nth-of-type(2):hover {
  opacity: 0.6;
}

.breadcrumbs__item:nth-of-type(2):hover {
  opacity: 0.1;
}

.catalog-content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.filter__column-left {
  grid-column: 1/4;
  background-color: rgba(238, 238, 238, 0.7);
  position: relative;
  width: 269px;
}

.filter__column-left::before {
  content: "";
  position: absolute;
  display: block;
  width: 1000px;
  height: 100%;
  right: 100%;
  grid-column: 1/4;
  background-color: rgba(238, 238, 238, 0.7);
}

.filter-show__fieldset {
  border: none;
  margin-bottom: 30px;
  padding: 0;
}

.fieldset__checkbox {
margin-bottom: 21px;
}

.fieldset__radio {
  margin-bottom: 24px;
  }

.fieldset__radio .filter-show__legend {
  margin-bottom: 31px;
}

.filter-show__title {
  margin-top: 28px;
  margin-bottom: 93px;
}

.filter-show__price-controls {
  display: flex;
  align-items: center;
}

.filter-show__price {
  width: 50%;
}

.filter-show__range-field {
  width: 200px;
}

.filter-show__scale {
  height: 2px;
  background-color: #d7dcdf;
}

.filter-show__bar {
  width: 138px;
  height: 2px;
  background: var(--basic-green);
}

.filter-show__toggles {
  padding: 4px;
}

.filter-show__range-controls {
  position: relative;
  background-color: var(--basic-extra-light);
  margin-bottom: -4px;
  box-sizing: border-box;
}

.filter-show__range-controls .filter-show__toggle {
  position: absolute;
  bottom: 0;
  width: 4px;
  height: 4px;
  padding: 2px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
  box-sizing: border-box;
}

.filter-show__range-controls .toggle-min {
  left: 0px;
}

.filter-show__range-controls .toggle-max {
  left: 94px;
}

.filter-show__price-controls input {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  width: 75px;
  height: 38px;
  background-color: rgba(238, 238, 238, 0.1);
  padding-left: 5px;
  border: none;
  box-sizing: border-box;
}

.filter-show__btn {
  border: none;
  padding-left: 38px;
  padding-right: 42px;
}

.filter-show__btn:focus {
  outline: none;
}

/* Checkbox form */
.filter-show__label-checkbox {
  display: flex;
  margin-bottom: 19px;
}

.filter-show__checkbox {
  display: none;
}

.filter-show__checkbox-input {
  padding-right: 42px;
  position: relative;
}

.filter-show__checkbox-input::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  background: url(../images/checkbox.png) 0 0 no-repeat;
  cursor: pointer;
  box-sizing: border-box;
}

.filter-show__checkbox:hover + .filter-show__checkbox-input::before {
  opacity: 0.6;
  transition: 0.3s;
}

.filter-show__checkbox:focus + .filter-show__checkbox-input::before {
  opacity: 1;
  transition: 0.3s;
}

.filter-show__checkbox:checked + .filter-show__checkbox-input::before {
  background: url(../images/checkbox-on.svg) 0 0 no-repeat;
  transition: 0.3s;
}

.filter-show__checkbox:disabled + .filter-show__checkbox-input::before {
  transition: 0.3s;
  opacity: 0.1;
}

/* Radio form */
.filter-show__legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  border-top: 2px solid var(--basic-black);
  width: 200px;
  margin-bottom: 39px;
  padding-top: 14px;
  position: relative;
}

.show__legend {
  margin-bottom: 30px;
}

.filter-show__label-radio {
  display: flex;
  margin-bottom: 21px;
}

.filter-show__radio {
  display: none;
}

.filter-show__radio:hover + .filter-show__radio-input::before {
  opacity: 0.6;
}

.filter-show__radio:focus + .filter-show__radio-input::before {
  opacity: 1;
}

.filter-show__radio:checked + .filter-show__radio-input::before {
  background: url(../images/radio-on.svg) 0 0 no-repeat;
  transition: 0.3s;
}

.filter-show__radio:disabled + .filter-show__radio-input::before {
  transition: 0.3s;
  opacity: 0.1;
}

.filter-show__radio-input {
  padding-right: 40px;
  position: relative;
}

.filter-show__radio-input::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  background: url(../images/radio.svg) 0 0 no-repeat;
  cursor: pointer;
}

.filter-show__radio-text {
  font-size: 14px;
  line-height: 19px;
}

/* Filter sort start */
.filter-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: rgba(238, 238, 238, 0.7);
  width: 100%;
  min-height: 70px;
  position: relative;
  margin-bottom: 56px;
}

.filter-sort::after {
  content: "";
  position: absolute;
  width: 1000px;
  height: 100%;
  left: 100%;
  background-color: rgba(238, 238, 238, 0.7);
  z-index: -1;
}

.filter-sort::before {
  content: "";
  position: absolute;
  width: 1000px;
  height: 100%;
  right: 100%;
  background-color: rgba(238, 238, 238, 0.7);
  z-index: -1;
}

.filter__legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter-sort__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  line-height: 19px;
}

.filter-sort__item {
  margin-right: 30px;
}

.filter-sort__link {
  margin-right: 30px;
}

.filter-sort__list .filter-sort__link {
  opacity: 0.3;
}

.filter-sort__list .filter-sort__link:hover {
  opacity: 0.6;
}

.filter-sort__list .filter-sort__link:focus {
  opacity: 1;
}

.filter-sort__controls {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-bottom: 20px;
}

.filter-sort__control {
  display: flex;
  margin-right: 20px;
  position: relative;
}

.control-up {
  position: relative;
}

.control-up::after {
  content: url(../images/icon-up.svg);
  position: absolute;
  opacity: 0.2;
}

.control-down {
  position: relative;
}

.control-down::after {
  content: url(../images/icon-down.svg);
  position: absolute;
}

.control-up:hover::after,
.control-down:hover::after {
  opacity: 0.4;
}

.control-up:focus::after,
.control-down:focus::after {
  opacity: 1;
}

.filter-sort__control:last-child {
  margin-right: 0;
}
/* Filter sort end */

/* Gallery start */
.filter__column-right {
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-column: 5/-1;
}

.filter-sort {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.gallery {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 31px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 23px;
}

.gallery__pagination {
  grid-column: 1/-1;
  grid-row: 3/4;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 70px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: rgba(238, 238, 238, 0.7);
  margin-bottom: 78px;
}

.product-card__inner {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 360px;
  height: 381px;
  background-color: rgba(77, 77, 77, 0.12);
  position: relative;
  cursor: pointer;
  margin-bottom: 11px;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 381px;
  background: rgba(238, 238, 238, 0.7);
  position: absolute;
  text-align: center;
  transform: translateY(100%);
  box-sizing: border-box;
}

.product-card:hover .product-card__content {
  padding-top: 20pxpx;
  transform: translateY(0);
}

.product-card__link {
  padding-right: 35px;
  padding-left: 38px;
  margin-bottom: 40px;
  top: 29px;
  left: -5px;
}

.product-card__comparison {
  color: rgba(0, 0, 0, 0.5);
}

.product-card__comparison:hover {
  color: rgba(0, 0, 0, 1);
}

.product-card__comparison:focus {
  color: rgba(0, 0, 0, 0.2);
}

.product-card__descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product-card__price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin: 0;
  width: 90px;
}

.gallery__pagination-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

.gallery__pagination-item {
  margin-right: 30px;
}

.gallery__pagination-item:last-child {
  margin-right: 0;
}

.gallery__pagination-link {
  color: rgba(0, 0, 0, 0.3);
}

.link-current {
  color: var(--basic-black);
}

.link-prev,
.link-next {
  padding-left: 30px;
  padding-right: 30px;
}

.link-prev:hover,
.link-next:hover {
  background-color: #d9d9d9;
}

.link-prev:focus,
.link-next:focus {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

/* Gallery end */
