
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
      url('Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-Extrabold.woff2') format('woff2'),
      url('Gilroy-Extrabold.woff') format('woff'),
      url('Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
      url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
      url('Gilroy-Light.woff2') format('woff2'),
      url('Gilroy-Light.woff') format('woff'),
      url('Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light.eot');
	src: local('Open Sans Light'), local('OpenSans-Light'),
    url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('OpenSans-Light.woff2') format('woff2'),
		url('OpenSans-Light.woff') format('woff'),
		url('OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

